*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#billing{
    height: 61vh;
}

.top{
    display: flex;
    justify-content: space-between;
    height: 15%;
    align-items: center;
    margin: 20px 60px
}

.btn button{
    padding: 8px 10px;
    color: white;
    font-weight: 700;
    border: 0px;
    outline: none;
}

.btn button:first-child{
    background-color: #047857;
    margin-right: 10px;
}

.btn button:last-child{
    background-color: #D9534F;
}

.subtitle p{
    color: #64748B;
    font-size: 14px;

}

.subtitle h3{
    font-size: 23px;
    font-weight: 700;
}

/* biiling table */
table,  td, tr{
    border-bottom: solid 1px #000;
    padding: 10px 0;

  }


table.billingTable {

  border-collapse: collapse;
  border-bottom: 1px solid gray;
  color: black;
  margin: 20px auto;
  width: 90%;
  font-size: 13px;

}

table.billingTable td, table.billingTable th {
  
  border-bottom: 1px solid lightgray

}
table th{
    color:#D9534F;
    margin-right: 100px;
    padding: 0;
    color: #64748B;
    font-size: 15px;

    
}

thead{
    margin-left: 0;
    margin-right: 100px;
    padding: 0;

}
td{
    padding: 10px;
    border-left: 1px solid lightgray
}

.paid span {
    background-color:  rgba(4, 120, 87, .1);
    color: rgb(4, 120, 87);
    border-radius: 6px;
    padding: 3px 10px;
}
.unpaid span {
    background-color:  rgba(217, 83, 79, .1);
    color: rgba(217, 83, 79);
    border-radius: 6px;
    padding: 3px 
}






  
  