*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#billing{
    min-height: 15vh;
    margin-bottom: calc(8em);
}

.top{
    display: flex;
    justify-content: space-between;
    height: 15%;
    align-items: center;
    margin: 20px 12.5em;
}

.btn button{
    padding: 8px 10px;
    color: white;
    font-weight: 700;
    border: 0px;
    outline: none;
}

.btn button:first-child{
    background-color: #047857;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: none;
    color: #18224b;
}

.subtitle p{
    color: #64748B;
    font-size: 15px;
    font-weight: 400;
}

.subtitle h3{
    font-size: 26px;
    font-weight: 600;
    color: #00a86a;
}

/* biiling table */
.main table, .main table td, .main table td tr{
    border-bottom: solid 1px #fff;
    padding: 10px 0;
  }


table.billingTable {
  border-bottom: 1px solid #fff;
  color: black;
  margin: 20px auto;
  width: 70%;
  font-size: 13px;
}

table.billingTable td, table.billingTable th {
  border-bottom: 1px solid lightgray
}
table th{
    color:#D9534F;
    margin-right: 100px;
    padding: 0;
    color: #64748B;
    font-size: 15px; 
}

thead{
    margin-left: 0;
    margin-right: 100px;
    padding: 0;
}
td{
    padding: 10px;
    border-left: 1px solid lightgray
}

.action{
    display: flex;
    justify-content: space-between;
}

.action a{
    font-size: 1.4em;
}

.action .t-delete{
    color: #D9534F;
}

.action .t-edit{
    color: #00a86a;
}

.action .t-edit:hover, .action .t-delete:hover{
    font-size: 1.45em;
}

.paid span {
    background-color:  rgba(4, 120, 87, .1);
    color: rgb(4, 120, 87);
    border-radius: 6px;
    padding: 3px 10px;
}
.unpaid span {
    background-color:  rgba(217, 83, 79, .1);
    color: rgba(217, 83, 79);
    border-radius: 6px;
    padding: 3px 
}