 /* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
} */

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.logo {
    width:212px;
    height: 61px;
}

.nav-section {
  position: sticky;
  top: 0;
  transition: 1s;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
  border-bottom: 0.5px solid rgb(149,149,149);
  filter: blur(0px);
  backdrop-filter: blur(17px);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

header .menu_left {
  display: flex;
  margin: -10px;
}

header .menu_left .logo {
  font-size: 2rem;
}

header .menu_left .nav_links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 75px;
}

/* #t1 {
    background-color: #F5F5F5;
} */




a:link {
    color: rgb(149,149,149);
    background-color: transparent;
    text-decoration: none;
    transition: all ease 0.3s;
    padding: 0 20px;
    padding-top: 25px;
    padding-left: 130px;
    font-weight: 800;
    font-size: 20px;
  }
  
  a:visited {
    color: rgb(149,149,149);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #00A86B;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: #00A86B;
    background-color: transparent;
    text-decoration: underline;
  }

  footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    margin: 5px;
    background-color: #E5E4E2;
    text-align: center;
}

  .foot {
    margin-top: 0px;
    margin-bottom: 0px;
  }

 
  #style-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  td {
    border-style: hidden !important;
  }
  #style-table tr {
    /* background-color: #009879; */
    /* color: #ffffff; */
    text-align: left;
  }

  #style-table thead tr {
    /* background-color: #009879; */
    color: #ffffff;
    text-align: center;
    padding-top: 30px;
}

  #style-table td, th{
    padding: 12px 15px;
  }
  #style-table tbody tr.topics {
    background-color:#1db483;
    color:white;
    font-weight: bold;
    text-align: justify;
  }

  #styled-table tbody tr {
    border-bottom:none;
      }

#styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  table th {
    color: black;
    text-align: center;
  }

.main {
    /* margin-left: 200px; */
    width: 100%;
} 

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-top: 0;
}

.data {
  justify-content: center;
}
.column-wrapper {
  flex:30%;
  padding: 50px;
}

input[type=text], select {
  width: 100%;
  padding: 10px 20px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit], input[type=reset] {
  width:100%;
  background-color:#1db483;
  color: white;
  padding: 14px 20px;
  margin: 4px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
}

input[type=submit]:hover, input[type=reset]:hover {
  background-color:#1db483;
}

form {
  width: 100%;
  padding-left: 50px;
  margin-top: 5px;
}

.position {
  display: inline-block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

When the checkbox is checked, add a blue background
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Responsitivity by jackson */

.open-nav{
  display: flex;
  padding:20px;
}
.open-nav span{
  
  margin: 10px;
  display: inline-block;
  margin-top:20px
}
.open-nav a img{
  margin: 10px;
  display: inline-block;
}
@media screen and (min-width:1024px){
  .open-nav{
    display: none;
  }
}

@media  screen and (max-width: 1023px) {
  .nav-section{
    display: none;
  }
  .open-nav{
    display: normal;
  }
  
}
@media (max-width: 1280px) and (min-width:1024px) {
  .nav_links a{
    padding:40px
  } 
}
@media screen  and (max-width:1000px) {
  form input{
    width:100%;

  }
  .salform{
    padding:5px;
  }
  #style-table {
    min-width: auto;
  }
  section .btn {
    display:flex
  }
  section .btn button{
    margin: 2px;
    padding:2px;
    display: inline-block
  }

}


/* Side nav CSS*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

