 /* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
} */

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.logo {
    width:212px;
    height: 61px;
}

.nav-section {
  position: sticky;
  top: 0;
  transition: 1s;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
  border-bottom: 0.5px solid rgb(149,149,149);
  filter: blur(0px);
  backdrop-filter: blur(17px);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

header .menu_left {
  display: flex;
  margin: -10px;
}

header .menu_left .logo {
  font-size: 2rem;
}

header .menu_left .nav_links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 75px;
}

#t1 {
    background-color: #F5F5F5;
}




a:link {
    color: rgb(149,149,149);
    background-color: transparent;
    text-decoration: none;
    transition: all ease 0.3s;
    padding: 0 20px;
    padding-top: 25px;
    padding-left: 130px;
    font-weight: 800;
    font-size: 20px;
  }
  
  a:visited {
    color: rgb(149,149,149);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #00A86B;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: #00A86B;
    background-color: transparent;
    text-decoration: underline;
  }

  footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    margin: 5px;
    background-color: #E5E4E2;
    text-align: center;
}

  .foot {
    margin-top: 0px;
    margin-bottom: 0px;
  }


  tr.topics {
    background-color: aqua;
  }

.main {
    margin-left: 500px;
    width: 300px;
} 
  
